In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("dataset_Facebook.csv",sep=";")

In [3]:
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [4]:
df.describe()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,500.000000,500.000000,500.000000,500.000000,500.000000,499.000000,500.00000,5.000000e+02,500.000000,500.000000,500.000000,5.000000e+02,500.000000,500.000000,500.00000,499.000000,496.000000,500.000000
mean,123194.176000,1.880000,7.038000,4.150000,7.840000,0.278557,13903.36000,2.958595e+04,920.344000,798.772000,1415.130000,1.676638e+04,6585.488000,609.986000,7.48200,177.945892,27.266129,212.120000
std,16272.813214,0.852675,3.307936,2.030701,4.368589,0.448739,22740.78789,7.680325e+04,985.016636,882.505013,2000.594118,5.979102e+04,7682.009405,612.725618,21.18091,323.398742,42.613292,380.233118
min,81370.000000,1.000000,1.000000,1.000000,1.000000,0.000000,238.00000,5.700000e+02,9.000000,9.000000,9.000000,5.670000e+02,236.000000,9.000000,0.00000,0.000000,0.000000,0.000000
25%,112676.000000,1.000000,4.000000,2.000000,3.000000,0.000000,3315.00000,5.694750e+03,393.750000,332.500000,509.250000,3.969750e+03,2181.500000,291.000000,1.00000,56.500000,10.000000,71.000000
50%,129600.000000,2.000000,7.000000,4.000000,9.000000,0.000000,5281.00000,9.051000e+03,625.500000,551.500000,851.000000,6.255500e+03,3417.000000,412.000000,3.00000,101.000000,19.000000,123.500000
75%,136393.000000,3.000000,10.000000,6.000000,11.000000,1.000000,13168.00000,2.208550e+04,1062.000000,955.500000,1463.000000,1.486050e+04,7989.000000,656.250000,7.00000,187.500000,32.250000,228.500000
max,139441.000000,3.000000,12.000000,7.000000,23.000000,1.000000,180480.00000,1.110282e+06,11452.000000,11328.000000,19779.000000,1.107833e+06,51456.000000,4376.000000,372.00000,5172.000000,790.000000,6334.000000

In [5]:
df.shape

(500, 19)

In [6]:
# CREATE DATA SUBSETS

In [8]:
df1 = df[["like","comment","Lifetime Post Total Reach"]].loc[0:15]

In [9]:
df1

      like  comment  Lifetime Post Total Reach
0     79.0        4                       2752
1    130.0        5                      10460
2     66.0        0                       2413
3   1572.0       58                      50128
4    325.0       19                       7244
5    152.0        1                      10472
6    249.0        3                      11692
7    325.0        0                      13720
8    161.0        0                      11844
9    113.0        3                       4694
10   233.0        0                      21744
11    88.0        0                       3112
12    90.0        0                       2847
13   137.0        5                       2549
14   577.0        2                      22784
15    86.0        4                      10060

In [10]:
df2 = df[["like","comment","Lifetime Post Total Reach"]].loc[16:30]

In [11]:
df2

     like  comment  Lifetime Post Total Reach
16   40.0        2                       1722
17  678.0       15                      53264
18   54.0        4                       3930
19   34.0        0                       1591
20   66.0        3                       2848
21    0.0        0                       1384
22   16.0        0                       3454
23   72.0        0                       2723
24   99.0        3                       8488
25   88.0        0                       8284
26  412.0       10                      19552
27  100.0        0                       2478
28  523.0       36                       9560
29  143.0       18                      36208
30  107.0       33                       4940

In [12]:
# MERGE DATA

In [13]:
merge_df = pd.concat([df1,df2])

In [14]:
merge_df

      like  comment  Lifetime Post Total Reach
0     79.0        4                       2752
1    130.0        5                      10460
2     66.0        0                       2413
3   1572.0       58                      50128
4    325.0       19                       7244
5    152.0        1                      10472
6    249.0        3                      11692
7    325.0        0                      13720
8    161.0        0                      11844
9    113.0        3                       4694
10   233.0        0                      21744
11    88.0        0                       3112
12    90.0        0                       2847
13   137.0        5                       2549
14   577.0        2                      22784
15    86.0        4                      10060
16    40.0        2                       1722
17   678.0       15                      53264
18    54.0        4                       3930
19    34.0        0                       1591
20    66.0        3                       2848
21     0.0        0                       1384
22    16.0        0                       3454
23    72.0        0                       2723
24    99.0        3                       8488
25    88.0        0                       8284
26   412.0       10                      19552
27   100.0        0                       2478
28   523.0       36                       9560
29   143.0       18                      36208
30   107.0       33                       4940

In [15]:
# SORT DATA

In [18]:
sort = df.sort_values(["like"],ascending=False)

In [19]:
sort

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21,138414,Photo,1,12,7,10,0.0,1384,2467,15,15,20,2196,1172,15,0,0.0,0.0,0
100,137020,Photo,1,10,4,9,1.0,1357,2453,37,37,55,2154,1120,32,0,0.0,0.0,0
441,98195,Photo,1,3,5,4,1.0,1845,2670,9,9,9,1614,1008,9,0,0.0,0.0,0
417,104070,Photo,1,3,3,10,0.0,1874,2474,25,25,31,1483,1062,15,0,0.0,0.0,0
111,136736,Photo,1,10,6,8,0.0,1261,2158,37,37,49,1911,1077,33,0,NaN,NaN,0